/*  green - #08ffc8 
    white - #fff7f7
    grey  - #dadada
    blue  - #204969
    header gradient - linear-gradient(to right, #0f2027, #203a43, #697980)
*/




/* ======================================== 
            GLOBAL
=========================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

section {
    margin: 5rem 10%;
    width: 80%;
    
}


h3 {
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #204969;
}


h4 {
    margin: 4rem 0 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #204969;
}




/* ======================================== 
            HEADER
=========================================== */

header {
    background: linear-gradient(to right, #0f2027, #203a43, #697980);
    display: grid;
    height: 100vh;
    place-items: center;
    color: #c7c7c7;
    position: relative;
    z-index: 0;

}

.container-head {
    top: 10%;
    left: 10;
    ;
    position: absolute;
    width: 80%;
    right: 10
}

.hero-text {
    padding: 1.5rem 0;
    z-index: 1;
}


header p {
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    letter-spacing: 0.2rem;
    margin: 0.9rem 0 0 0;
    padding: 1rem 0.3rem;
    background-color: #fff7f7;
    color: #142d41;
    text-align: center;
    font-weight: 500;
    float: left;
}

header h2 {
    padding-left: 44px;
    font-size: 4rem;
    font-weight: 300;

}

header h1 {
    font-size: 6rem;
    font-weight: 300;
    text-shadow: #011c29 6px 6px 3px;
    color: #08ffc8;
}

.image {
    position: absolute;

    padding-left: 30%;
    width: 100%;
    height: 90vh;
    z-index: -1;
}




/* ======================================== 
            SECTION Timeline
=========================================== */
.section-timeline {
    position: relative;
    
}



.section-timeline p {
    line-height: 1.5rem;
    text-align: justify;
}

.section-timeline img {
    display: block;
    
    margin: 1rem 10%;
    
    width: auto;
    height: auto;   
}

.section-timeline img:nth-child(5n) {
    display: block;
    margin: 1rem 0;
    width: 100%;
    height: auto;
}




/* ======================================== 
            SECTION Slider
=========================================== */
.section-slider {
    
    padding: 0 10% 3rem 10%;
    display: grid;
    height: 110vh;
    place-items: center;
    background: linear-gradient(to right, #0f2027, #203a43, #697980);
}


.anchors {
    margin: 3rem 40% 2% 40%;
}


.anchors a{
    padding: 0 10px 5px 10px;
    vertical-align: text-top;
    text-decoration: none;
    border: 1px solid #08ffc8;
    border-radius: 50%;
    background-color: #08ffc8;
}


.slider {
    width: 74%;
    margin: 0 13% 0 13%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}

.slide {
    scroll-snap-align: start;
      
}




